<p>
   <h4> Name          : <%= user.name %></h4>
   <h4> Email         : <%= user.email%></h4>
   <h4> Number         : <%= user.phonenumber %></h4>
   <h4> Username        : <%= user.username %></h4>

</p>
